body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #e0f7fa;
    color: #00695c;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 2px -2px gray;
}

header .logo img {
    width: 50px;
    vertical-align: middle;
}

header .logo h1 {
    display: inline;
    margin-left: 10px;
vertical-align: middle;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #00695c;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px 0;
    margin-top: -13px;
}

.hero {
    background: #b2ebf2;
    padding: 50px 20px;
    text-align: center;
}
.chooseus {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.archivements{
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    margin: 0 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.services-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.service {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    margin: 0 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


#contact form {
    display: flex;
    flex-direction: column;
}

#contact form label {
    margin: 10px 0 5px;
}

#contact form input, #contact form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact form button {
    padding: 10px 20px;
    border: none;
    background: #00695c;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background: #141414;
    text-align: center;
    padding: 20px 0;
    color: rgb(95, 93, 93);
    width: 100%;
}

#footer-container {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    word-wrap: normal;
}

.foot-logo {
    display: flex;
    align-items: center;
  
}

.foot-logo img {
    height: 50px;
    margin-right: 10px;
}
.foot-section{
    display: flex;
    
}

.footer-sections ul li{
    list-style: none;
    color: aqua;
    text-align: left;
    padding: 5px;
   
}
.footer-sections h2 {
    color: #e0f7fa;
}

.line{
    width: 95%;
    height: 5px;
    border-bottom: 1px solid rgba(62,62,62,1);
    position: absolute;
    margin: 0 33px;
    }
